<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
</head>
<body>

<h1>wings</h1>
    <form action="hostel/getbox" method="get">
        <input type="submit" value="Submit" name="Submit">
    </form>  

    {% comment %} <form action="wings/getwing" method="get">
        <input type="submit" value="Submit" name="Submit">
    </form>  {% endcomment %}

    {% comment %} <form action="wingsroom/getwingsroom" method="get">
    <input type="submit" value="Submit" name="Submit">
    </form>    {% endcomment %}
   
</body>
</html>
